body {
    background-color: white;
}

.navbar {
    background-color: orange;
    color: white;
    padding-left: 170px;
    padding-right: 170px;
}

.custom-container {
    border: 3px solid #FFA500;
    /* light orange */
    border-radius: 15px;
    padding: 0;
    background-color: white;
}

.custom-container p {
    color: black;
}

#custom-btn {
    color: grey !important;
}

#custom-btn:hover {
    color: black !important;
}


.custom-button {
    background-color: #FFA500;
    color: white;
}

.custom-button:hover {
    background-color: #0059FF;
}

.custom-header {
    background-color: orange;
    color: white;
    padding: 15px;
}

.custom-title {
    color: white;
    font-size: 2em;
}

.custom-subheader {
    color: white;
    font-size: 1.5em;
}

.custom-text {
    color: white;
    font-size: 1em
}


.table-container {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
}

.table th {
    text-align: center;
    vertical-align: middle;
}


.table td {
    text-align: center;
    vertical-align: middle;
}


#chat-log {
    height: 400px;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: scroll;
}

.message {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.assistant {
    align-self: flex-start;
    background-color: #f0f0f0;
}

.user {
    align-self: flex-end;
    background-color: #d0d0ff;
}